extends ./_layout

block content
  +jumbotron(
    'Welcome to Climate Tracker',
    'Lets get started',
    'Now you have signed up you are able to join any of the currently running competitions. These competitions allow you to submit published articles for feedback and opportunities.')

  br
  +button("http://app.climatetracker.org/dashboard", "Get Started")
